<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nomad.projects.yashasvi.hotspotsforwork"
    android:versionCode="1"
    android:versionName="1">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_wifi"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name=".activities.CitySelectionActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.PlacesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.CitySelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspotsforwork.activities.CitySelectionActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.PlacesListActivity" />
        </activity>
        <activity
            android:name=".activities.PlaceViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.PlacesListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value=".activities.PlacesListActivity" />
        </activity>
        <activity
            android:name=".activities.AppFeedbackActivity"
            android:parentActivityName=".activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspotsforwork.activities.PlacesListActivity" />
        </activity>
        <activity android:name=".activities.ZomatoWebviewActivity" />
        <activity
            android:name=".activities.PlaceImagesActivity"
            android:launchMode="singleTop"
            android:parentActivityName=".activities.PlaceViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspotsforwork.activities.PlaceViewActivity" />
        </activity>

        <provider
            android:name=".contentProviders.PlaceSearchSuggestionProvider"
            android:authorities="app.nomad.projects.yashasvi.hotspotsforwork.contentProviders.PlaceSearchSuggestionProvider" />

        <activity android:name=".activities.PlaceFeedbackActivity" />
        <activity
            android:name=".activities.SuggestNewPlaceActivity"
            android:parentActivityName=".activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspotsforwork.activities.PlacesListActivity" />
        </activity>
        <activity
            android:name=".activities.FullscreenPlaceImagesActivity"
            android:label="@string/title_activity_fullscreen_place_images"
            android:parentActivityName=".activities.PlaceImagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspotsforwork.activities.PlaceImagesActivity" />
        </activity>
        <activity
            android:name=".activities.AboutMeActivity"
            android:parentActivityName=".activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspotsforwork.activities.PlacesListActivity" />
        </activity>
    </application>

</manifest>
