<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.valmiki.hotspots">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="com.valmiki.hotspots.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="false"
        android:theme="@style/MyMaterialTheme">

        <!-- Add the following meta-data for devices running Google Play service. -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />

        <!-- Optionally, register AnalyticsReceiver and AnalyticsService to support background
         dispatching on non-Google Play devices -->
        <receiver
            android:name="com.google.android.gms.analytics.AnalyticsReceiver"
            android:enabled="true">
            <intent-filter>
                <action android:name="com.google.android.gms.analytics.ANALYTICS_DISPATCH" />
            </intent-filter>
        </receiver>
        <service
            android:name="com.google.android.gms.analytics.AnalyticsService"
            android:enabled="true"
            android:exported="false" />

        <!-- Optionally, register CampaignTrackingReceiver and CampaignTrackingService to enable
          installation campaign reporting -->
        <receiver
            android:name="com.google.android.gms.analytics.CampaignTrackingReceiver"
            android:exported="true">
            <intent-filter>
                <action android:name="com.android.vending.INSTALL_REFERRER" />
            </intent-filter>
        </receiver>
        <service android:name="com.google.android.gms.analytics.CampaignTrackingService" />


        <activity
            android:name="com.valmiki.hotspots.activities.CitySelectionActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.PlacesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.valmiki.hotspots.activities.CitySelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.CitySelectionActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.com.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.com.default_searchable"
                android:value=".activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.PlaceViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.valmiki.hotspots.activities.PlacesListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.AppFeedbackActivity"
            android:parentActivityName="com.valmiki.hotspots.activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.PlaceImagesActivity"
            android:launchMode="singleTop"
            android:parentActivityName="com.valmiki.hotspots.activities.PlaceViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlaceViewActivity" />
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.PlaceFeedbackActivity"
            android:parentActivityName="com.valmiki.hotspots.activities.PlaceViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlaceViewActivity" />
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.SuggestNewPlaceActivity"
            android:parentActivityName="com.valmiki.hotspots.activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="com.valmiki.hotspots.activities.FullscreenPlaceImagesActivity"
            android:label="@string/title_activity_fullscreen_place_images"
            android:parentActivityName="com.valmiki.hotspots.activities.PlaceImagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlaceImagesActivity" />
        </activity>
        <activity
            android:name="com.valmiki.hotspots.activities.AboutMeActivity"
            android:parentActivityName="com.valmiki.hotspots.activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="com.valmiki.hotspots.activities.PlacesListActivity" />

            <!--<intent-filter>-->
                <!--<action android:name="android.intent.action.VIEW" />-->

                <!--<category android:name="android.intent.category.DEFAULT" />-->
                <!--<category android:name="android.intent.category.BROWSABLE" />-->
                <!--&lt;!&ndash; Accepts URIs that begin with "http://hotspots.space/about” &ndash;&gt;-->
                <!--<data-->
                    <!--android:host="hotspots.space"-->
                    <!--android:pathPrefix="/about"-->
                    <!--android:scheme="http" />-->

            <!--</intent-filter>-->

        </activity>
    </application>

</manifest>
