<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="app.nomad.projects.yashasvi.hotspots">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:name="app.nomad.projects.yashasvi.hotspots.MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/MyMaterialTheme">
        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.CitySelectionActivity"
            android:launchMode="singleTop">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity"
            android:launchMode="singleTop"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.CitySelectionActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.CitySelectionActivity" />

            <intent-filter>
                <action android:name="android.intent.action.SEARCH" />
            </intent-filter>

            <meta-data
                android:name="android.app.searchable"
                android:resource="@xml/searchable" />
            <meta-data
                android:name="android.app.default_searchable"
                android:value=".activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.PlaceViewActivity"
            android:launchMode="singleTop"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity">

            <!-- Parent activity meta-data to support 4.0 and lower -->
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.AppFeedbackActivity"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity" />
        </activity>

        <activity android:name="app.nomad.projects.yashasvi.hotspots.activities.ZomatoWebviewActivity" />

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.PlaceImagesActivity"
            android:launchMode="singleTop"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlaceViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlaceViewActivity" />
        </activity>

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.PlaceFeedbackActivity"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlaceViewActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlaceViewActivity" />
        </activity>

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.SuggestNewPlaceActivity"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity" />
        </activity>

        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.FullscreenPlaceImagesActivity"
            android:label="@string/title_activity_fullscreen_place_images"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlaceImagesActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlaceImagesActivity" />
        </activity>
        <activity
            android:name="app.nomad.projects.yashasvi.hotspots.activities.AboutMeActivity"
            android:parentActivityName="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity">
            <meta-data
                android:name="android.support.PARENT_ACTIVITY"
                android:value="app.nomad.projects.yashasvi.hotspots.activities.PlacesListActivity" />
        </activity>
    </application>

</manifest>
